<!DOCTYPE html>
<html>
<head>{% block head %}
<meta name="keywords" content=""  />
<meta name="description" content="" />
<meta name="copyright" content=""  />
<meta name="author" content=""  />
<meta charset="utf-8">

<link rel="stylesheet" href="css/stylez.css">
<title>Elliot Kendryna Photography </title>
</head>
{% endblock %}
    <body>
        {% block nav %}
<ul class="navi">
<li><h1>Elliot Kendryna</h1></li>
<li><a href="fsoup.html">Film Soup</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="#">Blog</a></li>
<li style="float:right;"><div class="socm"><a href="#"><img src="img/maillogo.png"></a><a href="https://twitter.com/elliotkendryna"><img src="img/twitlogo.png"></a><a href="https://www.instagram.com/exit411/"><img src="img/instalogo.png"></a></div></li>
</ul>
{% endblock %}
<div class="wrapper">
   
 
    <div class="blogpeek">
       
        {% for entry in craft.entries.all %}
        <h2>{{ entry.titlex }}</h2>
        {% endfor %}
        {% set assets = craft.assets()
            .volume('gallery')
            .kind('image') %}

     {% set rel = assets.all() %}
       
      {% for rel in entry.photo.all %}
    <div>  <img src="{{ rel.url }}"  alt="photot" height="100%" width="100%"><figcaption>{{ entry.caption }}</figcaption></div>
      {% endfor %}
       
        </div>>
</div>
</div>
    </body>
</html>